go 1.26.6

use (
	.
	./auth/authjwt
	./auth/http/authfiber
	./auth/http/authgin
	./auth/rpc/authgrpc
	./crud/adapter/crudpgx
	./crud/http/crudfiber
	./crud/http/crudgin
	./crud/rpc/crudgrpc
	./test
	./utils/vvcfg
	./vvdb/dbpgx
)
