go 1.26.6

use (
	.
	./auth/access
	./auth/access/accessjwt
	./auth/access/accessjwt/revokeredis
	./auth/access/http/accessfiber
	./auth/access/http/accessgin
	./auth/authjwt
	./auth/http/authfiber
	./auth/http/authgin
	./auth/rpc/authgrpc
	./crud/adapter/crudpgx
	./crud/http/crudfiber
	./crud/http/crudgin
	./crud/rpc/crudgrpc
	./storage/storageminio
	./test
	./utils/vvcfg
	./utils/vvdb/dbpgx
	./utils/vvgoose
)
